@using Zatca.eInvoice.Helpers
@model EGS.Models.CertificateInfo

@{
    ViewData["Title"] = "Device Setup";
}

<div class="col-md-10 offset-md-1">

    <div class="card" id="wizardProfile">

        <form id="certInfoForm" asp-action="Finish" method="post">

            <div class="card-header text-center">
                <h4 class="card-title">Manager - Zatca Integration</h4>
                <h5 class="card-description">Device Setup and Registration</h5>
            </div>
            <div class="wizard-navigation" id="wizardNav">
                <ul class="nav nav-pills nav-fill gap-3 p-2 small bg-transparent rounded-1 shadow-sm" id="pillNav2" role="tablist" style="--bs-nav-pills-link-active-bg: var(--bs-tertiary-bg); --bs-nav-link-color: var(--bs-secondary);">
                    <li class="nav-item">
                        <a class="nav-link rounded-5 active" data-bs-toggle="pill" href="#managerDataField" role="tab">Manager CustomFields</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link rounded-5" data-bs-toggle="pill" href="#businessInfo" role="tab">Business Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link rounded-5" data-bs-toggle="pill" href="#csrConfig" role="tab">CSR Configuration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link rounded-5" data-bs-toggle="pill" href="#registerDevice" role="tab">Register Device</a>
                    </li>
                </ul>
            </div>

            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="managerDataField" role="tabpanel">
                        @* <h5 class="info-text">Manager Data Field</h5> *@
                        <div class="row text-start">
                            
                            <div class="col-md-12 mb-3 mt-3 text-center">
                                <div class="border border-info rounded p-3">
                                    <p>
                                        This wizard will help you set up your Manager.io business data, create a business CSR, obtain a Compliance CSID, perform Compliance Checks, and get a Production CSID (Onboarding). Make sure to fill in all the inputs correctly.
                                    </p>
                                    <p id="infoContent">
                                        The output of this wizard is a text file containing the business configuration and devices registered with the Zatca server. <br />
                                        <b>
                                            You must copy the Manager Certificate Info from this file into your Business Details data in Manager.
                                        </b><br />
                                            And add the relay URL: <b>#####</b> to your invoice.
                                        </b>
                                    </p>
                                    <p>
                                        This application does not store user data. Save the file carefully, as you may need it later.
                                    </p>
                                    <p>
                                        Ensure you use the Simulation environment first to verify that everything works correctly. Once you are confident, you can proceed to the next step in the Production environment.
                                    </p>
                                </div>
                            </div>

                            

                            <div class="col-md-12 mb-3">
                                <div class="form-group">
                                    <label class="form-label" asp-for="ApiEndpoint">ApiEndpoint</label>
                                    <input asp-for="ApiEndpoint" class="form-control form-control-sm" autocomplete="off" readonly="@Model.IsRegistered()" />
                                    <span asp-validation-for="ApiEndpoint" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="form-group">
                                    <label class="form-label" asp-for="ApiSecret">Secret</label>
                                    <input asp-for="ApiSecret" class="form-control form-control-sm" autocomplete="off" readonly="@Model.IsRegistered()" />
                                    <span asp-validation-for="ApiSecret" class="text-danger"></span>
                                </div>
                            </div>

                            @if (!@Model.IsRegistered())
                            {
                                <div class="col-md-12 mb-3 text-end">
                                    <button type="button" id="generateCustomField" class="btn btn-outline-success btn-sm" disabled="@Model.IsRegistered()">Generate CustomField</button>
                                </div>
                            }

                        </div>
                    </div>

                    <div class="tab-pane fade" id="businessInfo" role="tabpanel">
                        @* <h5 class="info-text">Business Info</h5> *@
                        <div class="row text-start">
                            <!-- form content -->

                            <div class="col-md-12 mb-3">
                                <div class="form-group">
                                    <label class="form-label" asp-for="RegistrationName">Registration Name</label>
                                    <input asp-for="RegistrationName" class="form-control form-control-sm" readonly="@Model.IsRegistered()" />
                                    <span asp-validation-for="RegistrationName" class="text-danger"></span>
                                </div>
                            </div>


                            <div class="col-md-3 mb-3">
                                <div class="form-group">
                                    <label class="form-label" asp-for="CompanyID">Company ID</label>
                                    <input asp-for="CompanyID" class="form-control form-control-sm" readonly="@Model.IsRegistered()" />
                                    <span asp-validation-for="CompanyID" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-3 mb-3">
                                <div class="form-group">
                                    <label class="form-label" asp-for="TaxSchemeID">Tax Scheme ID</label>
                                    <input asp-for="TaxSchemeID" class="form-control form-control-sm" readonly="@Model.IsRegistered()" />
                                    <span asp-validation-for="TaxSchemeID" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-3 mb-3">
                                <div class="form-group">
                                    <label class="form-label" asp-for="IdentificationID">Business Identification ID</label>
                                    <input asp-for="IdentificationID" class="form-control form-control-sm" readonly="@Model.IsRegistered()" />
                                    <span asp-validation-for="IdentificationID" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-3 mb-3">
                                <div class="form-group">
                                    <label class="form-label" asp-for="IdentificationScheme">Identification Scheme</label>
                                    <input asp-for="IdentificationScheme" class="form-control form-control-sm" readonly="@Model.IsRegistered()" />
                                    <span asp-validation-for="IdentificationScheme" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-12 mb-3">
                                <div class="form-group">
                                    <label class="form-label" asp-for="StreetName">Street Name</label>
                                    <input asp-for="StreetName" class="form-control form-control-sm" readonly="@Model.IsRegistered()" />
                                    <span asp-validation-for="StreetName" class="text-danger"></span>
                                </div>
                            </div>


                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label class="form-label" asp-for="CitySubdivisionName">City Subdivision Name</label>
                                    <input asp-for="CitySubdivisionName" class="form-control form-control-sm" readonly="@Model.IsRegistered()" />
                                    <span asp-validation-for="CitySubdivisionName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label class="form-label" asp-for="CityName">City Name</label>
                                    <input asp-for="CityName" class="form-control form-control-sm" readonly="@Model.IsRegistered()" />
                                    <span asp-validation-for="CityName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-3 mb-3">
                                <div class="form-group">
                                    <label class="form-label" asp-for="BuildingNumber">Building Number</label>
                                    <input asp-for="BuildingNumber" class="form-control form-control-sm" readonly="@Model.IsRegistered()" />
                                    <span asp-validation-for="BuildingNumber" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-3 mb-3">
                                <div class="form-group">
                                    <label class="form-label" asp-for="PostalZone">Postal Zone</label>
                                    <input asp-for="PostalZone" class="form-control form-control-sm" readonly="@Model.IsRegistered()" />
                                    <span asp-validation-for="PostalZone" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-3 mb-3">
                                <div class="form-group">
                                    <label class="form-label" asp-for="CountryIdentificationCode">Country Identification Code</label>
                                    <input asp-for="CountryIdentificationCode" class="form-control form-control-sm" readonly="@Model.IsRegistered()" />
                                    <span asp-validation-for="CountryIdentificationCode" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-3 mb-3">
                                <div class="form-group">
                                    <label class="form-label" asp-for="BusinessCategory">Business Category</label>
                                    <input asp-for="BusinessCategory" class="form-control form-control-sm" readonly="@Model.IsRegistered()" />
                                    <span asp-validation-for="BusinessCategory" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="tab-pane fade" id="csrConfig" role="tabpanel">
                        @* <h5 class="info-text">CSR Configuration</h5> *@
                        <div class="row text-start">
                            <!-- form content -->
                            <div class="col-md-3 mb-3">
                                <div class="form-group">
                                    <label class="form-label" asp-for="CsrIndustryBusinessCategory"></label>
                                    <input asp-for="CsrIndustryBusinessCategory" class="form-control form-control-sm" readonly />
                                </div>
                            </div>


                            <div class="col-md-3 mb-3">
                                <div class="form-group">
                                    <label class="form-label" asp-for="CsrCommonName"></label>
                                    <input asp-for="CsrCommonName" class="form-control form-control-sm" readonly />
                                </div>
                            </div>

                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label class="form-label" asp-for="CsrSerialNumber"></label>
                                    <input asp-for="CsrSerialNumber" class="form-control form-control-sm" readonly />
                                </div>
                            </div>

                            <div class="col-md-3 mb-3">
                                <div class="form-group">
                                    <label class="form-label" asp-for="CsrOrganizationIdentifier"></label>
                                    <input asp-for="CsrOrganizationIdentifier" class="form-control form-control-sm" readonly />
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <div class="form-group">
                                    <label class="form-label" asp-for="CsrOrganizationUnitName"></label>
                                    <input asp-for="CsrOrganizationUnitName" class="form-control form-control-sm" readonly />
                                </div>
                            </div>

                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label class="form-label" asp-for="CsrOrganizationName"></label>
                                    <input asp-for="CsrOrganizationName" class="form-control form-control-sm" readonly />
                                </div>
                            </div>


                            <div class="col-md-3 mb-3">
                                <div class="form-group">
                                    <label class="form-label" asp-for="CsrCountryName"></label>
                                    <input asp-for="CsrCountryName" class="form-control form-control-sm" readonly />
                                </div>
                            </div>

                            <div class="col-md-3 mb-3">
                                <div class="form-group">
                                    <label class="form-label" asp-for="CsrInvoiceType"></label>
                                    <input asp-for="CsrInvoiceType" class="form-control form-control-sm" readonly />
                                </div>
                            </div>

                            <div class="col-md-3 mb-3">
                                <div class="form-group">
                                    <label class="form-label" asp-for="CsrLocationAddress"></label>
                                    <input asp-for="CsrLocationAddress" class="form-control form-control-sm" readonly />
                                </div>
                            </div>

                            <div class="col-md-3 mb-3">
                                <div class="form-group">
                                    <label style="color: var(--bs-success);" class="form-label" asp-for="EnvironmentType">Select CSR Type</label>
                                    <select asp-for="EnvironmentType" class="form-control form-control-sm" disabled="@Model.IsRegistered()">
                                        @foreach (var value in Enum.GetValues(typeof(EnvironmentType)))
                                        {
                                            <option value="@value">@value</option>
                                        }
                                    </select>
                                </div>
                            </div>


                            @if (!@Model.IsRegistered())
                            {
                                <div class="col-md-12 mb-3 text-end">
                                    <button type="button" id="generateCSRButton" class="btn btn-outline-success btn-sm" disabled="@Model.IsRegistered()"> Generate CSR</button>
                                </div>
                            }

                            <div class="col-md-12 mb-3">
                                <div class="form-group">
                                    <label class="form-label" asp-for="GeneratedCSR">Generated CSR</label>
                                    <textarea id="GeneratedCSR" asp-for="GeneratedCSR" class="form-control form-control-sm" readonly></textarea>
                                </div>
                            </div>

                            <div class="col-md-12 mb-3">
                                <div class="form-group">
                                    <label class="form-label" asp-for="EcSecp256k1Privkeypem">Generated EC Secp256k1 Private Key (PEM)</label>
                                    <textarea id="EcSecp256k1Privkeypem" asp-for="EcSecp256k1Privkeypem" class="form-control form-control-sm" readonly></textarea>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="tab-pane fade" id="registerDevice" role="tabpanel">
                        @*  <h5 class="info-text">Register Device</h5> *@
                        <div class="row text-start">

                            <!-- Form content -->
                            <div id="urlContainer" class="@(Model.IsRegistered() ? "col-md-12" : "col-md-10")">
                                <!-- Compliance CSID Url -->
                                <div class="input-group input-group-sm mt-0">
                                    <span class="input-group-text" asp-for="ComplianceCSIDUrl">Compliance CSID URL</span>
                                    <input type="text" asp-for="ComplianceCSIDUrl" class="form-control" readonly="@Model.IsRegistered()">
                                </div>

                                <!-- Obboarding PCSID Url -->
                                <div class="input-group input-group-sm mt-1">
                                    <span class="input-group-text" asp-for="ProductionCSIDUrl">Production CSID URL</span>
                                    <input type="text" asp-for="ProductionCSIDUrl" class="form-control" readonly="@Model.IsRegistered()">
                                </div>

                                <!-- Compliance Check URL -->
                                <div class="input-group input-group-sm mt-1">
                                    <span class="input-group-text" asp-for="ComplianceCheckUrl">Compliance Check URL</span>
                                    <input type="text" asp-for="ComplianceCheckUrl" class="form-control">
                                    <span asp-validation-for="ComplianceCheckUrl" class="text-danger"></span>
                                </div>

                                <!-- Reporting URL -->
                                <div class="input-group input-group-sm mt-1">
                                    <span class="input-group-text" asp-for="ReportingUrl">Reporting URL</span>
                                    <input type="text" asp-for="ReportingUrl" class="form-control">
                                    <span asp-validation-for="ReportingUrl" class="text-danger"></span>
                                </div>

                                <!-- Clearance URL -->
                                <div class="input-group input-group-sm mt-1">
                                    <span class="input-group-text" asp-for="ClearanceUrl">Clearance URL</span>
                                    <input type="text" asp-for="ClearanceUrl" class="form-control">
                                    <span asp-validation-for="ClearanceUrl" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Middle-center align OTP-->
                            <div id="ccsidContainer" class="col-md-2 d-flex flex-column justify-content-center" style="padding-block-start: 5px; border-left: 1px solid var(--bs-border-color-translucent);">
                                <div class="form-group mb-3 text-center">
                                    <label class="form-label">CCSID OTP</label>
                                    <input type="text" id="CCSIDOTP" class="form-control form-control-sm text-center" readonly="@Model.IsRegistered()">
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button id="ccsidButton" type="button" disabled="@Model.IsRegistered()" class="btn btn-outline-warning btn-sm">Get CCSID</button>
                                </div>
                            </div>


                            <!-- CCSID content -->
                            <div class="col-md-12 mb-3 mt-3">
                                <div class="form-group">
                                    <label class="form-label" asp-for="CCSIDBinaryToken">CCSID Binary Token</label>
                                    <textarea asp-for="CCSIDBinaryToken" class="form-control form-control-sm" readonly></textarea>
                                </div>
                            </div>

                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label class="form-label" asp-for="CCSIDSecret">CCSID Secret</label>
                                    <input asp-for="CCSIDSecret" class="form-control form-control-sm" readonly />
                                </div>
                            </div>

                            <div class="col-md-4 mb-3">
                                <div class="form-group">
                                    <label class="form-label" asp-for="CCSIDComplianceRequestId">CCSID Compliance Request ID</label>
                                    <input asp-for="CCSIDComplianceRequestId" class="form-control form-control-sm" readonly />
                                </div>
                            </div>


                            <!-- PCSID content -->
                            <div id="pcsidContainer" class="col-md-2 d-flex flex-column justify-content-center" style="padding-block-start: 5px; border-left: 1px solid var(--bs-border-color-translucent);">
                                <div class="d-flex justify-content-center">
                                    <button type="button" id="pcsidButton" class="btn btn-outline-success btn-sm" disabled="@Model.IsRegistered()"> Get PCSID</button>
                                </div>
                            </div>

                            <div class="col-md-12 mb-3">
                                <div class="form-group">
                                    <label class="form-label" asp-for="PCSIDBinaryToken">PCSID Binary Token</label>
                                    <textarea asp-for="PCSIDBinaryToken" class="form-control form-control-sm" readonly></textarea>
                                </div>
                            </div>

                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label class="form-label" asp-for="PCSIDSecret">PCSID Secret</label>
                                    <input asp-for="PCSIDSecret" class="form-control form-control-sm" readonly />
                                </div>
                            </div>


                            <div class="col-md-3 mb-3">
                                <div class="form-group">
                                    <label class="form-label" asp-for="RegisteredDate">Registered Date</label>
                                    <input asp-for="RegisteredDate" type="datetime-local" class="form-control form-control-sm" readonly />
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="card-footer">
                <button type="button" class="btn btn-outline-secondary btn-sm" name="previous">Previous</button>

                @if (@Model.IsRegistered())
                {
                    <button type="button" class="btn btn-outline-warning btn-sm" name="editCustomField">Edit CustomFields</button>
                }

                <button type="button" class="btn btn-outline-secondary btn-sm ml-auto" name="next">Next</button>
                <button id="downloadCertificateButton" type="submit" class="btn btn-outline-primary btn-sm" name="finish" disabled="true">Download Certificate Info</button>
            </div>
        </form>
    </div>
</div>

<div class="loading-indicator" id="loadingIndicator"></div>

@section Scripts {
    <script>
        $(function () {
            var $tabs = $('.tab-pane');
            var $navLinks = $('#wizardNav .nav-link');
            var currentIndex = 0;

            function showLoading() {
                document.getElementById('loadingIndicator').style.display = 'block';
            }

            function hideLoading() {
                document.getElementById('loadingIndicator').style.display = 'none';
            }

            function updateButtons() {
                $('[name="previous"]').toggleClass('d-none', currentIndex === 0);
                $('[name="editCustomField"]').toggleClass('d-none', currentIndex !== 0);
                $('[name="next"]').toggleClass('d-none', currentIndex === $tabs.length - 1);
                $('[name="finish"]').toggleClass('d-none', currentIndex !== $tabs.length - 1);
                $navLinks.removeClass('active');
                $navLinks.eq(currentIndex).addClass('active');
            }

            function handleTabShown(tabId) {
                if (tabId === "csrConfig") {
                    var identificationIdValue = $("#IdentificationID").val();

                    // Autofill CSR Common Name
                    if (identificationIdValue) {
                        var csrCommonName = "MGR-" + identificationIdValue + "-" + $("#CompanyID").val();
                        $("#CsrCommonName").val(csrCommonName);
                    }

                    // Autofill CSR Serial Number
                    var csrSerialNumberInput = $("#CsrSerialNumber").val();
                    var guidPattern = /\b[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}\b/;

                    if (!csrSerialNumberInput || !guidPattern.test(csrSerialNumberInput)) {
                        var uuid = uuidv4();
                        var csrSerialNumber = "1-MGR|2-MGR|3-" + uuid;
                        $("#CsrSerialNumber").val(csrSerialNumber);
                    }

                    $("#CsrOrganizationIdentifier").val($("#CompanyID").val());
                    $("#CsrOrganizationUnitName").val($("#CityName").val());
                    $("#CsrOrganizationName").val($("#RegistrationName").val());
                    $("#CsrCountryName").val($("#CountryIdentificationCode").val());
                    $("#CsrInvoiceType").val("1100");
                    $("#CsrLocationAddress").val($("#PostalZone").val());
                    $("#CsrIndustryBusinessCategory").val($("#BusinessCategory").val());
                }
            }

            $('[name="editCustomField"]').on('click', function () {
                $('#managerDataField input').removeAttr('readonly');
                $(this).remove();
            });

            $('[name="next"]').on('click', function () {
                if (currentIndex < $tabs.length - 1) {
                    $tabs.eq(currentIndex).removeClass('active show');
                    currentIndex++;
                    $tabs.eq(currentIndex).addClass('active show');
                    handleTabShown($navLinks.eq(currentIndex).attr("href").substring(1));
                    updateButtons();
                }
            });

            $('[name="previous"]').on('click', function () {
                if (currentIndex > 0) {
                    $tabs.eq(currentIndex).removeClass('active show');
                    currentIndex--;
                    $tabs.eq(currentIndex).addClass('active show');
                    handleTabShown($navLinks.eq(currentIndex).attr("href").substring(1));
                    updateButtons();
                }
            });

            $navLinks.on('click', function (e) {
                e.preventDefault();
                var target = $(this).attr('href');
                currentIndex = $navLinks.index(this);
                $tabs.removeClass('active show');
                $(target).addClass('active show');
                handleTabShown(target.substring(1));
                updateButtons();
            });

            function uuidv4() {
                return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                    return v.toString(16);
                });
            }

            $('#generateCustomField').on('click', function () {
                showLoading();
                var tokenData = {
                    ApiEndpoint: $('#ApiEndpoint').val(),
                    ApiSecret: $('#ApiSecret').val()
                };

                if (Object.values(tokenData).some(val => !val)) {
                    hideLoading();
                    alert("Please provide all required inputs.");
                    return;
                }

                $.ajax({
                    url: '/generatecf',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(tokenData),
                    success: function (response) {
                        hideLoading();
                        alert(response);
                    },
                    error: function (xhr) {
                        var errorResponse = JSON.parse(xhr.responseText);
                        hideLoading();
                        alert('Errors:\n' + errorResponse.errors.join('\n'));
                    }
                });
            });

            $('#generateCSRButton').on('click', function () {
                showLoading();
                var csrData = {
                    CommonName: $('#CsrCommonName').val(),
                    SerialNumber: $('#CsrSerialNumber').val(),
                    OrganizationIdentifier: $('#CsrOrganizationIdentifier').val(),
                    OrganizationUnitName: $('#CsrOrganizationUnitName').val(),
                    OrganizationName: $('#CsrOrganizationName').val(),
                    CountryName: $('#CsrCountryName').val(),
                    InvoiceType: $('#CsrInvoiceType').val(),
                    LocationAddress: $('#CsrLocationAddress').val(),
                    IndustryBusinessCategory: $('#CsrIndustryBusinessCategory').val()
                };

                var environmentType = $('#EnvironmentType').val(); // Get the environment type value

                if (Object.values(csrData).some(val => !val)) {
                    hideLoading();
                    alert("Please provide all required inputs.");
                    return;
                }

                $.ajax({
                    url: '/generatecsr?environmentType=' + environmentType, // Include environment type in the query string
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(csrData),
                    success: function (response) {
                        $('#GeneratedCSR').val(response.csr);
                        $('#EcSecp256k1Privkeypem').val(response.privateKey);
                        checkGeneratedCSR();
                        hideLoading();
                        alert('CSR Generated Successfully!');
                    },
                    error: function (xhr) {
                        var errorResponse = JSON.parse(xhr.responseText);
                        hideLoading();
                        alert('Errors:\n' + errorResponse.errors.join('\n'));
                    }
                });
            });

            $("#ccsidButton").on('click', function () {
                showLoading();

                var formData = new FormData($('#certInfoForm')[0]);
                formData.append('OTP', $("#CCSIDOTP").val());

                if (!formData.get('GeneratedCSR') || !formData.get('ComplianceCSIDUrl') || !formData.get('ProductionCSIDUrl') || !formData.get('OTP')) {
                    hideLoading();
                    alert("Please provide all required inputs.");
                    return;
                }

                $.ajax({
                    url: '@Url.Action("GetCCSID", "Wizard")',
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    data: formData,
                    success: function (response) {
                        $("#CCSIDBinaryToken").val(response.ccsidBinaryToken);
                        $("#CCSIDSecret").val(response.ccsidSecret);
                        $("#CCSIDComplianceRequestId").val(response.ccsidComplianceRequestId);
                        checkCcsidContainer();
                        hideLoading();
                        alert('CCSID Generated Successfully!');
                    },
                    error: function (xhr, status, error) {
                        hideLoading();
                        alert("Error: " + xhr.responseText);
                    }
                });
            });

            $("#pcsidButton").on('click', function () {
                showLoading();
                var formData = new FormData($('#certInfoForm')[0]);

                if (!formData.get('CCSIDBinaryToken') || !formData.get('ProductionCSIDUrl') || !formData.get('CCSIDSecret')) {
                    hideLoading();
                    alert("Please provide all required inputs.");
                    return;
                }

                $.ajax({
                    url: '@Url.Action("GetPCSID", "Wizard")',
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    data: formData,
                    success: function (response) {
                        $("#PCSIDBinaryToken").val(response.pcsidBinaryToken);
                        $("#PCSIDSecret").val(response.pcsidSecret);
                        var formattedDate = response.registeredDate.slice(0, 16);
                        $("#RegisteredDate").val(formattedDate);
                        checkPcsidContainer();
                        hideLoading();
                        alert('PCSID Generated Successfully!');
                    },
                    error: function (xhr, status, error) {
                        hideLoading();
                        alert("Error: " + xhr.responseText);
                    }
                });
            });

            function checkGeneratedCSR() {
                var generatedCSR = $("#GeneratedCSR").val();
                var privateKey = $("#EcSecp256k1Privkeypem").val();
                $("#generateCSRButton").toggleClass("d-none", !!(generatedCSR && privateKey));
            }

            function checkCcsidContainer() {
                var cCSIDBinaryToken = $("#CCSIDBinaryToken").val();
                $("#ccsidContainer").toggleClass("d-none", !!cCSIDBinaryToken);
                $("#urlContainer").toggleClass("col-md-10", !cCSIDBinaryToken).toggleClass("col-md-12", !!cCSIDBinaryToken);
                $("#pcsidContainer").toggleClass("d-none", !cCSIDBinaryToken);
            }

            function checkPcsidContainer() {
                var pCSIDBinaryToken = $("#PCSIDBinaryToken").val();
                $("#pcsidContainer").toggleClass("d-none", !!pCSIDBinaryToken);
                $("#downloadCertificateButton").prop("disabled", !pCSIDBinaryToken);
            }

            $("#CCSIDBinaryToken, #PCSIDBinaryToken").on('input', function () {
                checkCcsidContainer();
                checkPcsidContainer();
            });

            $("#GeneratedCSR, #EcSecp256k1Privkeypem").on('input', checkGeneratedCSR);

            // Initial setup
            updateButtons();
            handleTabShown($navLinks.eq(currentIndex).attr("href").substring(1));
            checkGeneratedCSR();
            checkCcsidContainer();
            checkPcsidContainer();
        });

        function getBaseUrl() {
            var protocol = window.location.protocol; 
            var hostname = window.location.hostname; 
            var port = window.location.port; 

            var baseUrl = protocol + '//' + hostname;
            if (port) {
                baseUrl += ':' + port;
            }
            return baseUrl + '/relay';
        }

        function replacePlaceholderUrl() {
            var baseUrl = getBaseUrl(); 
            var content = document.getElementById("infoContent").innerHTML;
            var updatedContent = content.replace(/#####/g, baseUrl);
            document.getElementById("infoContent").innerHTML = updatedContent;
        }

        window.onload = replacePlaceholderUrl;

    </script>
    
}

